<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
    		<pattern>%black(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%blue(%t)] %logger{36} - %msg%n%throwable</pattern>
    	</encoder>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

	<logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="org.springframework.security" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="com.chatop.ChaTopBackEndApplication" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
</configuration>